<center>

# Домашнее задание по Статистическим и Эмпирическим Методам Компьютинга

### Подготовил Куприянов Кирилл Игоревич, студент гр. БПИ 151(1)

### ВАРИАНТ 7

</center> Задание 6

Подключаем необходимые библиотеки

In [25]:
import pandas as pd
import numpy as np
import statsmodels.formula.api as sm
import matplotlib.pyplot as plt
from sklearn.cluster import KMeans
%pylab inline

Populating the interactive namespace from numpy and matplotlib

Читаем данные из файла

In [47]:
df = pd.read_stata('titanic10_short.dta')
df.head()

,class1_v1,class2_v1,class3_v1,sex_v1,survived_v1,class1_v2,class2_v2,class3_v2,sex_v2,survived_v2,...,class1_v9,class2_v9,class3_v9,sex_v9,survived_v9,class1_v10,class2_v10,class3_v10,sex_v10,survived_v10
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,1.0,0.0,1.0,0.0,NaN,NaN,NaN,NaN,NaN
1,0.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,...,NaN,NaN,NaN,NaN,NaN,0.0,0.0,1.0,1.0,0.0
2,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,...,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,1.0
3,0.0,0.0,1.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,...,0.0,0.0,1.0,1.0,0.0,1.0,0.0,0.0,1.0,1.0
4,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,...,1.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0,1.0

In [48]:
df.columns

Index(['class1_v1', 'class2_v1', 'class3_v1', 'sex_v1', 'survived_v1',
       'class1_v2', 'class2_v2', 'class3_v2', 'sex_v2', 'survived_v2',
       'class1_v3', 'class2_v3', 'class3_v3', 'sex_v3', 'survived_v3',
       'class1_v4', 'class2_v4', 'class3_v4', 'sex_v4', 'survived_v4',
       'class1_v5', 'class2_v5', 'class3_v5', 'sex_v5', 'survived_v5',
       'class1_v6', 'class2_v6', 'class3_v6', 'sex_v6', 'survived_v6',
       'class1_v7', 'class2_v7', 'class3_v7', 'sex_v7', 'survived_v7',
       'class1_v8', 'class2_v8', 'class3_v8', 'sex_v8', 'survived_v8',
       'class1_v9', 'class2_v9', 'class3_v9', 'sex_v9', 'survived_v9',
       'class1_v10', 'class2_v10', 'class3_v10', 'sex_v10', 'survived_v10'],
      dtype='object')

In [49]:
for c in df.columns:
    if not c.endswith('v7'):
        del df[c]

In [50]:
df.columns = [x[:-3] for x in df.columns]
df.head()

   class1  class2  class3  sex  survived
0     0.0     1.0     0.0  1.0       0.0
1     1.0     0.0     0.0  0.0       1.0
2     0.0     0.0     1.0  1.0       1.0
3     0.0     0.0     1.0  1.0       0.0
4     0.0     0.0     1.0  1.0       0.0

Очищаем данные от пропусков

In [53]:
df.dropna(inplace=1)

LOGIT model

In [60]:
logit_res = sm.logit('survived ~ sex + class1 + class2', df).fit()
logit_res.summary()

Optimization terminated successfully.
         Current function value: 0.470397
         Iterations 6

<class 'statsmodels.iolib.summary.Summary'>
"""
                           Logit Regression Results
==============================================================================
Dep. Variable:               survived   No. Observations:                 1141
Model:                          Logit   Df Residuals:                     1137
Method:                           MLE   Df Model:                            3
Date:                Wed, 31 May 2017   Pseudo R-squ.:                  0.2850
Time:                        00:07:18   Log-Likelihood:                -536.72
converged:                       True   LL-Null:                       -750.70
                                        LLR p-value:                 1.940e-92
==============================================================================
                 coef    std err          z      P>|z|      [95.0% Conf. Int.]
------------------------------------------------------------------------------
Intercept      0.4392      0.138      3.184      0.001         0.169     0.710
sex           -2.5394      0.159    -15.989      0.000        -2.851    -2.228
class1         1.7021      0.182      9.365      0.000         1.346     2.058
class2         0.4554      0.194      2.341      0.019         0.074     0.837
==============================================================================
"""

PROBIT model

In [61]:
probit_res = sm.probit('survived ~ sex + class1 + class2', df).fit()
probit_res.summary()

Optimization terminated successfully.
         Current function value: 0.470926
         Iterations 5

<class 'statsmodels.iolib.summary.Summary'>
"""
                          Probit Regression Results
==============================================================================
Dep. Variable:               survived   No. Observations:                 1141
Model:                         Probit   Df Residuals:                     1137
Method:                           MLE   Df Model:                            3
Date:                Wed, 31 May 2017   Pseudo R-squ.:                  0.2842
Time:                        00:08:51   Log-Likelihood:                -537.33
converged:                       True   LL-Null:                       -750.70
                                        LLR p-value:                 3.540e-92
==============================================================================
                 coef    std err          z      P>|z|      [95.0% Conf. Int.]
------------------------------------------------------------------------------
Intercept      0.3109      0.082      3.770      0.000         0.149     0.473
sex           -1.5206      0.091    -16.709      0.000        -1.699    -1.342
class1         0.9786      0.104      9.418      0.000         0.775     1.182
class2         0.2120      0.113      1.875      0.061        -0.010     0.434
==============================================================================
"""

OLS model

In [63]:
ols_res = sm.ols('survived ~ sex + class1 + class2', df).fit()
ols_res.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:               survived   R-squared:                       0.350
Model:                            OLS   Adj. R-squared:                  0.348
Method:                 Least Squares   F-statistic:                     204.0
Date:                Wed, 31 May 2017   Prob (F-statistic):          7.45e-106
Time:                        00:09:20   Log-Likelihood:                -541.28
No. Observations:                1141   AIC:                             1091.
Df Residuals:                    1137   BIC:                             1111.
Df Model:                           3
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [95.0% Conf. Int.]
------------------------------------------------------------------------------
Intercept      0.6148      0.024     25.678      0.000         0.568     0.662
sex           -0.5083      0.025    -20.587      0.000        -0.557    -0.460
class1         0.2884      0.028     10.298      0.000         0.233     0.343
class2         0.0695      0.030      2.342      0.019         0.011     0.128
==============================================================================
Omnibus:                       63.909   Durbin-Watson:                   1.750
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               73.661
Skew:                           0.620   Prob(JB):                     1.01e-16
Kurtosis:                       3.118   Cond. No.                         4.24
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""