<center>

# Домашнее задание по Статистическим и Эмпирическим Методам Компьютинга

### Подготовил Куприянов Кирилл Игоревич, студент гр. БПИ 151(1)

### ВАРИАНТ 7

</center> Задание 6

Подключаем необходимые библиотеки

In [33]:
import pandas as pd
import numpy as np
from scipy import stats
import statsmodels.formula.api as sm
import matplotlib.pyplot as plt
%pylab inline

Populating the interactive namespace from numpy and matplotlib

Читаем данные из файла

In [4]:
df = pd.read_stata('titanic10_short.dta')
df.head()

,class1_v1,class2_v1,class3_v1,sex_v1,survived_v1,class1_v2,class2_v2,class3_v2,sex_v2,survived_v2,...,class1_v9,class2_v9,class3_v9,sex_v9,survived_v9,class1_v10,class2_v10,class3_v10,sex_v10,survived_v10
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,1.0,0.0,1.0,0.0,NaN,NaN,NaN,NaN,NaN
1,0.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,...,NaN,NaN,NaN,NaN,NaN,0.0,0.0,1.0,1.0,0.0
2,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,...,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,1.0
3,0.0,0.0,1.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,...,0.0,0.0,1.0,1.0,0.0,1.0,0.0,0.0,1.0,1.0
4,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,...,1.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0,1.0

In [5]:
df.columns

Index(['class1_v1', 'class2_v1', 'class3_v1', 'sex_v1', 'survived_v1',
       'class1_v2', 'class2_v2', 'class3_v2', 'sex_v2', 'survived_v2',
       'class1_v3', 'class2_v3', 'class3_v3', 'sex_v3', 'survived_v3',
       'class1_v4', 'class2_v4', 'class3_v4', 'sex_v4', 'survived_v4',
       'class1_v5', 'class2_v5', 'class3_v5', 'sex_v5', 'survived_v5',
       'class1_v6', 'class2_v6', 'class3_v6', 'sex_v6', 'survived_v6',
       'class1_v7', 'class2_v7', 'class3_v7', 'sex_v7', 'survived_v7',
       'class1_v8', 'class2_v8', 'class3_v8', 'sex_v8', 'survived_v8',
       'class1_v9', 'class2_v9', 'class3_v9', 'sex_v9', 'survived_v9',
       'class1_v10', 'class2_v10', 'class3_v10', 'sex_v10', 'survived_v10'],
      dtype='object')

In [6]:
for c in df.columns:
    if not c.endswith('v7'):
        del df[c]

In [7]:
df.columns = [x[:-3] for x in df.columns]
df.head()

   class1  class2  class3  sex  survived
0     0.0     1.0     0.0  1.0       0.0
1     1.0     0.0     0.0  0.0       1.0
2     0.0     0.0     1.0  1.0       1.0
3     0.0     0.0     1.0  1.0       0.0
4     0.0     0.0     1.0  1.0       0.0

Очищаем данные от пропусков

In [8]:
df.dropna(inplace=1)

LOGIT model

In [9]:
logit_res = sm.logit('survived ~ sex + class1 + class2', df).fit()
logit_res.summary()

Optimization terminated successfully.
         Current function value: 0.470397
         Iterations 6

<class 'statsmodels.iolib.summary.Summary'>
"""
                           Logit Regression Results
==============================================================================
Dep. Variable:               survived   No. Observations:                 1141
Model:                          Logit   Df Residuals:                     1137
Method:                           MLE   Df Model:                            3
Date:                Mon, 05 Jun 2017   Pseudo R-squ.:                  0.2850
Time:                        02:16:44   Log-Likelihood:                -536.72
converged:                       True   LL-Null:                       -750.70
                                        LLR p-value:                 1.940e-92
==============================================================================
                 coef    std err          z      P>|z|      [95.0% Conf. Int.]
------------------------------------------------------------------------------
Intercept      0.4392      0.138      3.184      0.001         0.169     0.710
sex           -2.5394      0.159    -15.989      0.000        -2.851    -2.228
class1         1.7021      0.182      9.365      0.000         1.346     2.058
class2         0.4554      0.194      2.341      0.019         0.074     0.837
==============================================================================
"""

PROBIT model

In [10]:
probit_res = sm.probit('survived ~ sex + class1 + class2', df).fit()
probit_res.summary()

Optimization terminated successfully.
         Current function value: 0.470926
         Iterations 5

<class 'statsmodels.iolib.summary.Summary'>
"""
                          Probit Regression Results
==============================================================================
Dep. Variable:               survived   No. Observations:                 1141
Model:                         Probit   Df Residuals:                     1137
Method:                           MLE   Df Model:                            3
Date:                Mon, 05 Jun 2017   Pseudo R-squ.:                  0.2842
Time:                        02:16:48   Log-Likelihood:                -537.33
converged:                       True   LL-Null:                       -750.70
                                        LLR p-value:                 3.540e-92
==============================================================================
                 coef    std err          z      P>|z|      [95.0% Conf. Int.]
------------------------------------------------------------------------------
Intercept      0.3109      0.082      3.770      0.000         0.149     0.473
sex           -1.5206      0.091    -16.709      0.000        -1.699    -1.342
class1         0.9786      0.104      9.418      0.000         0.775     1.182
class2         0.2120      0.113      1.875      0.061        -0.010     0.434
==============================================================================
"""

OLS model

In [11]:
ols_res = sm.ols('survived ~ sex + class1 + class2', df).fit()
ols_res.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:               survived   R-squared:                       0.350
Model:                            OLS   Adj. R-squared:                  0.348
Method:                 Least Squares   F-statistic:                     204.0
Date:                Mon, 05 Jun 2017   Prob (F-statistic):          7.45e-106
Time:                        02:16:51   Log-Likelihood:                -541.28
No. Observations:                1141   AIC:                             1091.
Df Residuals:                    1137   BIC:                             1111.
Df Model:                           3
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [95.0% Conf. Int.]
------------------------------------------------------------------------------
Intercept      0.6148      0.024     25.678      0.000         0.568     0.662
sex           -0.5083      0.025    -20.587      0.000        -0.557    -0.460
class1         0.2884      0.028     10.298      0.000         0.233     0.343
class2         0.0695      0.030      2.342      0.019         0.011     0.128
==============================================================================
Omnibus:                       63.909   Durbin-Watson:                   1.750
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               73.661
Skew:                           0.620   Prob(JB):                     1.01e-16
Kurtosis:                       3.118   Cond. No.                         4.24
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [12]:
df['logit'] = pd.Series(logit_res.predict(), index=df.index)
df['probit'] = pd.Series(probit_res.predict(), index=df.index)
df['ols'] = pd.Series(ols_res.predict(), index=df.index)

In [13]:
df.head()

   class1  class2  class3  sex  survived     logit    probit       ols
0     0.0     1.0     0.0  1.0       0.0  0.161817  0.159217  0.176058
1     1.0     0.0     0.0  0.0       1.0  0.894859  0.901398  0.903165
2     0.0     0.0     1.0  1.0       1.0  0.109079  0.113205  0.106542
3     0.0     0.0     1.0  1.0       0.0  0.109079  0.113205  0.106542
4     0.0     0.0     1.0  1.0       0.0  0.109079  0.113205  0.106542

LOGIT EXTENDED model

In [14]:
logit_res_e = sm.logit('survived ~ sex + class1 + class2 + sex*class1 + sex*class2', df).fit()
logit_res_e.summary()

Optimization terminated successfully.
         Current function value: 0.441701
         Iterations 7

<class 'statsmodels.iolib.summary.Summary'>
"""
                           Logit Regression Results
==============================================================================
Dep. Variable:               survived   No. Observations:                 1141
Model:                          Logit   Df Residuals:                     1135
Method:                           MLE   Df Model:                            5
Date:                Mon, 05 Jun 2017   Pseudo R-squ.:                  0.3287
Time:                        02:17:55   Log-Likelihood:                -503.98
converged:                       True   LL-Null:                       -750.70
                                        LLR p-value:                2.073e-104
==============================================================================
                 coef    std err          z      P>|z|      [95.0% Conf. Int.]
------------------------------------------------------------------------------
Intercept     -0.1579      0.156     -1.011      0.312        -0.464     0.148
sex           -1.4653      0.203     -7.235      0.000        -1.862    -1.068
class1         3.6391      0.531      6.852      0.000         2.598     4.680
class2         2.0907      0.358      5.833      0.000         1.388     2.793
sex:class1    -2.6814      0.571     -4.695      0.000        -3.801    -1.562
sex:class2    -3.0463      0.493     -6.181      0.000        -4.012    -2.080
==============================================================================
"""

PROBIT EXTENDED model

In [16]:
probit_res_e = sm.probit('survived ~ sex + class1 + class2 + sex*class1 + sex*class2', df).fit()
probit_res_e.summary()

Optimization terminated successfully.
         Current function value: 0.441701
         Iterations 7

<class 'statsmodels.iolib.summary.Summary'>
"""
                          Probit Regression Results
==============================================================================
Dep. Variable:               survived   No. Observations:                 1141
Model:                         Probit   Df Residuals:                     1135
Method:                           MLE   Df Model:                            5
Date:                Mon, 05 Jun 2017   Pseudo R-squ.:                  0.3287
Time:                        02:18:48   Log-Likelihood:                -503.98
converged:                       True   LL-Null:                       -750.70
                                        LLR p-value:                2.073e-104
==============================================================================
                 coef    std err          z      P>|z|      [95.0% Conf. Int.]
------------------------------------------------------------------------------
Intercept     -0.0989      0.098     -1.012      0.312        -0.290     0.093
sex           -0.8762      0.121     -7.233      0.000        -1.114    -0.639
class1         1.9819      0.238      8.329      0.000         1.516     2.448
class2         1.2423      0.198      6.287      0.000         0.855     1.630
sex:class1    -1.4206      0.268     -5.292      0.000        -1.947    -0.894
sex:class2    -1.7392      0.259     -6.709      0.000        -2.247    -1.231
==============================================================================
"""

OLS EXTENDED model

In [18]:
ols_res_e = sm.ols('survived ~ sex + class1 + class2 + sex*class1 + sex*class2', df).fit()
ols_res_e.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:               survived   R-squared:                       0.393
Model:                            OLS   Adj. R-squared:                  0.390
Method:                 Least Squares   F-statistic:                     146.8
Date:                Mon, 05 Jun 2017   Prob (F-statistic):          3.00e-120
Time:                        02:19:09   Log-Likelihood:                -502.43
No. Observations:                1141   AIC:                             1017.
Df Residuals:                    1135   BIC:                             1047.
Df Model:                           5
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [95.0% Conf. Int.]
------------------------------------------------------------------------------
Intercept      0.4606      0.029     15.701      0.000         0.403     0.518
sex           -0.2958      0.034     -8.592      0.000        -0.363    -0.228
class1         0.5095      0.044     11.628      0.000         0.424     0.596
class2         0.4130      0.050      8.271      0.000         0.315     0.511
sex:class1    -0.3348      0.056     -5.992      0.000        -0.444    -0.225
sex:class2    -0.5072      0.061     -8.307      0.000        -0.627    -0.387
==============================================================================
Omnibus:                      116.730   Durbin-Watson:                   1.768
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              151.679
Skew:                           0.878   Prob(JB):                     1.16e-33
Kurtosis:                       3.330   Cond. No.                         10.5
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

Проверка гипотезы $H_0$: $sex:class1 = sex:class2 = 0$ с помощью теста Вальда

In [30]:
logit_res_e.wald_test(r_matrix='sex:class1=sex:class2=0')

<class 'statsmodels.stats.contrast.ContrastResults'>
<Wald test: statistic=[[ 52.91173931]], p-value=3.2386334402230776e-12>

Проверка гипотезы $H_0$: $sex:class1 = sex:class2 = 0$ с помощью отношения правдоподобия

In [31]:
def likelihood_ratio(full, restricted):
    llf_full = full.llf
    llf_restr = restricted.llf
    df_full = full.df_resid 
    df_restr = restricted.df_resid 
    lrdf = (df_restr - df_full)
    lrstat = -2*(llf_restr - llf_full)
    lr_pvalue = stats.chi2.sf(lrstat, df=lrdf)
    return lr_pvalue

In [34]:
print('p-value =', likelihood_ratio(logit_res_e, logit_res))

p-value = 6.02773386897e-15

$p-value$ $\leqslant$ $0.05$ $\Rightarrow$ нет оснований отвергнуть $H_0$ $\Rightarrow$ роль пола не связана с классом каюты

In [41]:
df['logit_e'] = pd.Series(logit_res_e.predict(), index=df.index)
df['probit_e'] = pd.Series(probit_res_e.predict(), index=df.index)
df['ols_e'] = pd.Series(ols_res_e.predict(), index=df.index)

df['diff ols and probit_e'] = np.abs(df['ols'] - df['probit_e'])

In [42]:
df.iloc[:,5:]

,logit,probit,ols,logit_e,probit_e,ols_e,diff ols and probit_e
0,0.161817,0.159217,0.176058,0.070513,0.070513,0.070513,0.105545
1,0.894859,0.901398,0.903165,0.970149,0.970149,0.970149,0.066985
2,0.109079,0.113205,0.106542,0.164760,0.164760,0.164760,0.058217
3,0.109079,0.113205,0.106542,0.164760,0.164760,0.164760,0.058217
4,0.109079,0.113205,0.106542,0.164760,0.164760,0.164760,0.058217
5,0.161817,0.159217,0.176058,0.070513,0.070513,0.070513,0.105545
6,0.401783,0.408649,0.394913,0.339506,0.339506,0.339506,0.055407
7,0.109079,0.113205,0.106542,0.164760,0.164760,0.164760,0.058217
8,0.608075,0.622070,0.614794,0.460606,0.460606,0.460606,0.154188
9,0.401783,0.408649,0.394913,0.339506,0.339506,0.339506,0.055407
10,0.401783,0.408649,0.394913,0.339506,0.339506,0.339506,0.055407
11,0.401783,0.408649,0.394913,0.339506,0.339506,0.339506,0.055407
12,0.401783,0.408649,0.394913,0.339506,0.339506,0.339506,0.055407
13,0.709846,0.699479,0.684310,0.873563,0.873563,0.873563,0.189254
14,0.709846,0.699479,0.684310,0.873563,0.873563,0.873563,0.189254
15,0.709846,0.699479,0.684310,0.873563,0.873563,0.873563,0.189254
16,0.894859,0.901398,0.903165,0.970149,0.970149,0.970149,0.066985
18,0.709846,0.699479,0.684310,0.873563,0.873563,0.873563,0.189254
21,0.894859,0.901398,0.903165,0.970149,0.970149,0.970149,0.066985
23,0.109079,0.113205,0.106542,0.164760,0.164760,0.164760,0.058217
24,0.109079,0.113205,0.106542,0.164760,0.164760,0.164760,0.058217
25,0.109079,0.113205,0.106542,0.164760,0.164760,0.164760,0.058217
26,0.709846,0.699479,0.684310,0.873563,0.873563,0.873563,0.189254
29,0.161817,0.159217,0.176058,0.070513,0.070513,0.070513,0.105545
30,0.401783,0.408649,0.394913,0.339506,0.339506,0.339506,0.055407
34,0.608075,0.622070,0.614794,0.460606,0.460606,0.460606,0.154188
35,0.709846,0.699479,0.684310,0.873563,0.873563,0.873563,0.189254
36,0.109079,0.113205,0.106542,0.164760,0.164760,0.164760,0.058217
38,0.709846,0.699479,0.684310,0.873563,0.873563,0.873563,0.189254
39,0.109079,0.113205,0.106542,0.164760,0.164760,0.164760,0.058217
...,...,...,...,...,...,...,...
1896,0.709846,0.699479,0.684310,0.873563,0.873563,0.873563,0.189254
1897,0.161817,0.159217,0.176058,0.070513,0.070513,0.070513,0.105545
1901,0.109079,0.113205,0.106542,0.164760,0.164760,0.164760,0.058217
1903,0.161817,0.159217,0.176058,0.070513,0.070513,0.070513,0.105545
1905,0.401783,0.408649,0.394913,0.339506,0.339506,0.339506,0.055407
1910,0.109079,0.113205,0.106542,0.164760,0.164760,0.164760,0.058217
1915,0.109079,0.113205,0.106542,0.164760,0.164760,0.164760,0.058217
1918,0.894859,0.901398,0.903165,0.970149,0.970149,0.970149,0.066985
1921,0.894859,0.901398,0.903165,0.970149,0.970149,0.970149,0.066985
1923,0.161817,0.159217,0.176058,0.070513,0.070513,0.070513,0.105545
1924,0.709846,0.699479,0.684310,0.873563,0.873563,0.873563,0.189254
1926,0.109079,0.113205,0.106542,0.164760,0.164760,0.164760,0.058217
1927,0.161817,0.159217,0.176058,0.070513,0.070513,0.070513,0.105545
1930,0.161817,0.159217,0.176058,0.070513,0.070513,0.070513,0.105545
1934,0.161817,0.159217,0.176058,0.070513,0.070513,0.070513,0.105545
1941,0.894859,0.901398,0.903165,0.970149,0.970149,0.970149,0.066985
1942,0.401783,0.408649,0.394913,0.339506,0.339506,0.339506,0.055407
1945,0.709846,0.699479,0.684310,0.873563,0.873563,0.873563,0.189254
1948,0.401783,0.408649,0.394913,0.339506,0.339506,0.339506,0.055407
1953,0.709846,0.699479,0.684310,0.873563,0.873563,0.873563,0.189254
1955,0.894859,0.901398,0.903165,0.970149,0.970149,0.970149,0.066985
1964,0.109079,0.113205,0.106542,0.164760,0.164760,0.164760,0.058217
1967,0.109079,0.113205,0.106542,0.164760,0.164760,0.164760,0.058217
1969,0.109079,0.113205,0.106542,0.164760,0.164760,0.164760,0.058217
1970,0.894859,0.901398,0.903165,0.970149,0.970149,0.970149,0.066985
1975,0.109079,0.113205,0.106542,0.164760,0.164760,0.164760,0.058217
1978,0.894859,0.901398,0.903165,0.970149,0.970149,0.970149,0.066985
1983,0.109079,0.113205,0.106542,0.164760,0.164760,0.164760,0.058217
1992,0.109079,0.113205,0.106542,0.164760,0.164760,0.164760,0.058217
1997,0.161817,0.159217,0.176058,0.070513,0.070513,0.070513,0.105545